

.select-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.select-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.options {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    border-radius: 0 0 4px 4px;
}

li {
    padding: 10px;
    cursor: pointer;
}

li:hover {
    background-color: #f0f0f0;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.app-title {
    margin: 0 auto;
    text-align: center;
}